<ion-content [fullscreen]="true">
  <div class="glass-content">
    <ion-grid>
      <ion-row>
        <ion-col class="ion-text-center">
            <img class="logo" src="assets/img/tigre.png" alt="logo">
        </ion-col>
        <ion-col size="6" class="ion-text-center">
          <ion-card>
            <ion-card-title>Hola {{data.usuario}}</ion-card-title>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>

        <ion-col class="ion-text-center" size="6">
          <div></div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
