<ion-content [fullscreen]="true">
  <div class="glass-content">
    <ion-grid>
      <ion-row>
        <ion-col class="ion-text-center">
            <img class="logo" src="assets/img/tigre.png" alt="logo">
        </ion-col>
        <ion-col size="6" class="ion-text-center">
          <ion-card>
            <ion-card-title>Hola {{data.usuario}}</ion-card-title>
          </ion-card>
          <ion-button (click)="cerrarSesion()" color="success" type="button" expand="block" shape="round">
            Cerrar sesión
          </ion-button>
        </ion-col>
      </ion-row>

      <ion-card>
        <ion-card-header>
          <ion-card-title>Ingresar Zoologico</ion-card-title>
        </ion-card-header>
        <ion-item>
          <ion-label position="floating" >Nombre de Zoologico</ion-label>
          <ion-input [(ngModel)]="zoologico.nombre"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" >Calificacion</ion-label>
          <ion-input [(ngModel)]="zoologico.calificacion"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" >Comuna</ion-label>
          <ion-input [(ngModel)]="zoologico.comuna"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" >Pais</ion-label>
          <ion-input [(ngModel)]="zoologico.pais"></ion-input>
        </ion-item>
        <ion-grid>
          <ion-row>
            <ion-col size="6">
              <ion-button expand="block"  color="success" shape="round">
                Limpiar
              </ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button expand="block" (click)="addZoo()" color="success" shape="round">
                Agregar Zoo
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>

      <ion-row *ngFor="let zoo of zoologicos">
        <ion-col class="ion-text-center">
          <ion-card>
            <ion-col size="12">
              <ion-card-header>
                <ion-card-title> {{zoo.nombre}} </ion-card-title>
              </ion-card-header>
              <ion-card-content>
                Comuna: {{zoo.comuna}}
                <br>
                Calificacion: {{zoo.calificacion}}
                <br>
                Pais: {{zoo.pais}}
              </ion-card-content>
            </ion-col>
            <ion-row>
              <ion-col size="6"> 
                <ion-button color="warning" [routerLink]="['/edit-zoo',zoo.id]" (click)="getZooId(zoo.id)" expand="block"  shape="round">Editar</ion-button> 
              </ion-col>
              <ion-col size="6"> 
                <ion-button  expand="block" color="danger" (click)="deleteZoo(zoo.id)" shape="round">Borrar</ion-button>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
